# Base de datos MySQL
MYSQL_DATABASE=TransResAudio
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_USER=transres
MYSQL_PASSWORD=your_password_here

# Backend FastAPI
DATABASE_URL=mysql+pymysql://transres:your_password_here@db:3306/TransResAudio
OLLAMA_HOST=http://ollama:11434
CUDA_VISIBLE_DEVICES=0
